<% if @feed_items.any? %>
  <h3>Micropost Feed (<%= @feed_items.count %>)</h3>
  <ol class="microposts">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
  </ol>
  <%= will_paginate @feed_items, renderer: BootstrapPagination::Rails %>
<% end %>
